.App {
  text-align: center;
  background-color: #2B2525; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

.button-bar {
  padding-bottom: 60px;
}

.start-button {
  margin: 0 15px 0 15px;
  height: 50px;
  width: 120px;
  font-weight: 700;
  cursor: pointer;
  color:  #fd6883;
  background-color: #372F2F;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
}

.win-button {
  position: absolute;
  height: 125px;
  width: 125px;
  border: none;
  box-shadow: none;
  outline: none;
  background: center / 150% no-repeat url("react-icon.svg");
}

.counter {
  color: #fd6883;
}

.credit {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 11px;
}