.square {
  height: 300px;
  width: 300px;
  background-color: #2C2525;
  border: 10px solid #948A8B;
  position: relative;
}

.intro {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  font-weight: 600;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.intro2 {
  font-size: 20px;
  margin-top: 60px;
}