.Tile {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 150px;
  height: 150px;
  box-shadow:inset 0px 0px 0px 3px white;
  font-size: calc(30px + 2vmin);
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  background-color: #F9CC6B; 
  /* rgb(100, 0, 255); */
}
